{
    "apiKey": "YOUR_API_KEY",
    "twitch": {
        "connection": {
            "reconnect": true,
            "secure": true
        },
        "identity": {
            "username": "Nanotect_",
            "password": "YOUR_TMI_OAUTH"  
        },
        "channels": ["nanotect_"]
    },
    "host": "127.0.0.1",
    "port": "24050",
    "socket": "playing"
}